@import url('https://fonts.googleapis.com/css?family=Hanalei|PT+Sans+Narrow&display=swap');

html, body{
    background: lightblue;
    color: rgb(121, 119, 119);
    font-family: 'PT Sans Narrow', sans-serif;
}

h1{
    font-family: 'Hanalei', cursive;
    font-size: 65px;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 2px darkgray;
}

h3{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px darkgray;
}

h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin: auto;
    max-width: 500px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
  }

  #game{
    border-style: solid;
    border-radius: 10px;
    background: white;
    padding: 50px;
  }

#wins, #current-word, #guesses-remaining, #guessed-letters{
    font-size: 30px;
    padding: 10px;
}
 